<!-- Adding Bootstrap -->

<div class="row">
  <div class="col-md-12">
    <!-- As we keep in mind that we have given full grid because in the recipe template we dispaly the detail templates in grid 7 -->
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- Here we want to display the name of the Recipe -->
  <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- Here we will allow a button to manage the recipe,allows to add shopping list and want to edit or delete it -->
    <!-- So actually we coul use adrop down -->
    <div class="bt-group">
      <button
           type="button"
           class="btn btn-primary dropdown-toggle">
           Manage Recipe <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
         <li><a href="#">Shopping list</a></li>
         <li><a href="#">Edit Recipe</a></li>
         <li><a href="#">Delete Recipe</a></li>
       </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- Here we want to display the desription of the recipe -->
    Decription
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <!-- Here we want to display the Ingredients of the recipe -->
      Ingredients
    </div>
  </div>
